* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    height: 100dvh;
    background-image: url(./InicioImgs/FUndo1.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.397);
}

#paginas>a {
    background-color: white;
    gap: 15px;
    font-family: K2D;
    color: black;
    font-size: x-large;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

#paginas>a:hover {
    background-color: #FFB22C;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: auto;
}

#carrosselAP>img {
    width: 765px;
    height: 859px;
    border-radius: 28px;
    margin: 10px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 879px;
}

.apresentacao>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 118px;
    font-family: "Handlee", cursive;
    text-align: center;
    color: white;
}

nav {
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
}

nav>p {
    color: white;
    font-family: Handlee;
    position: bottom;
    font-size: 40px;
    transition: 300ms;
    cursor: pointer;
}

nav>p:hover {
    color: #FFD900;
    font-size: 45px;
}

#divisao {
    background-color: rgba(0, 0, 0, 0.815);
    height: 200px;
    margin: 10px;
}

/* //Parte Superior OK!// */


main {
    display: flex;
}

.portifolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portifolio>div:nth-child(even) {
    flex-direction: row-reverse;
}

.liso {
    display: flex;
}

.liso>img {
    height: 645px;
    width: 637px;
    border-radius: 52px;
    margin: 0px 30px;
}

.liso>p {
    display: flex;
    align-items: center;
    font-size: 54px;
    font-family: "Handlee", cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-radius: 20px;
    width: 1100px;
}

.ondulado {
    display: flex;
}

.ondulado>img {
    height: 645px;
    width: 637px;
    border-radius: 52px;
    margin: 0px 30px;
}

.ondulado>p {
    display: flex;
    align-items: center;
    font-size: 54px;
    font-family: "Handlee", cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-radius: 20px;
    width: 1040px;
}

.cacheados {
    display: flex;
}

.cacheados>img {
    height: 645px;
    width: 637px;
    border-radius: 52px;
    margin: 0px 30px;
}

.cacheados>p {
    display: flex;
    align-items: center;
    font-size: 54px;
    font-family: "Handlee", cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-radius: 20px;
    width: 1100px;
}

.curtos {
    display: flex;
}

.curtos>img {
    height: 645px;
    width: 637px;
    border-radius: 52px;
    margin: 0px 30px;
}

.curtos>p {
    display: flex;
    align-items: center;
    font-size: 54px;
    font-family: "Handlee", cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-radius: 20px;
    width: 1040px;
}

.crespo {
    display: flex;
}

.crespo>img {
    height: 645px;
    width: 637px;
    border-radius: 52px;
    margin: 0px 30px;
}

.crespo>p {
    display: flex;
    align-items: center;
    font-size: 54px;
    font-family: "Handlee", cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-radius: 20px;
    width: 1100px;
}

footer {
    margin: 10px 0px 0px 0px;
    height: 187px;
    width: 100%;
    font-family: Handlee;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}